/*_____________________________________________________________

  Page
  -------------------------------------------------------------
*/
html {
	min-width: 300px;
}

body {
	background: #E9E9E9 url(../images/bg01.png.jsf) repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	font-weight: 400;
	color: #969696;
}

#wrapper {
	min-width: 220px;
	width: 100%;
	background: #FFF;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

#page {
	color: #191919;
	margin: 10px;
	min-height: 600px;
}

/*_____________________________________________________________

  Font
  -------------------------------------------------------------
*/
.h1, .h2, .h3 {
	margin: 0;
	padding: 0;
	font-weight: 900;
	display: block;
}

.em {
	font-style: italic;
}

#page .title {
	display: block;
	text-align: center;
	font-size: 2em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
}

.justi {
	text-align: justify;
}

.h2.center {
	text-align: center;
}

.block {
	display: block;
}

/*_____________________________________________________________

  Formulaire
  -------------------------------------------------------------
*/
p label {
	display: block;
	float: left;
}

p label.small-label {
	width: 100px;
}

p label.medium-label1 {
	width: 110px;
}

p label.medium-label2 {
	width: 140px;
}

p label.big-label1 {
	width: 160px;
}

p label.big-label2 {
	width: 170px;
}

p label.big-label3 {
	width: 180px;
}

p input[type="text"], p input[type="password"], p select {
	width: 180px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-boder-radius: 5px 5px 5px 5px;
	border: 1px solid #999999;
	padding: 3px;
}

p input[type="text"]:focus, p input[type="password"]:focus, p select:focus
	{
	border: solid 1px #01A9DC;
	box-shadow: 0 0 5px 1px #969696;
}

p select {
	width: 188px;
}

p input.button, p input.link {
	margin-right: 10px;
}

.form-boxed {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-boder-radius: 5px 5px 5px 5px;
	border: 1px solid #999999;
	padding: 5px;
	margin-top: 10px;
}

p.small-form input[type="text"], p.small-form select {
	width: 130px;
}

p.small-form select {
	width: 138px;
}

/*_____________________________________________________________

  Button and link
  -------------------------------------------------------------
*/
.button {
	display: inline-block;
	background: #00A4D9;
	border-radius: 5px;
	line-height: 2em;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	text-decoration: none;
	font-weight: 700;
	font-size: 13px;
	color: #fff !important;
	cursor: pointer;
	letter-spacing: 1px;
}

.button:hover {
	background: #27beec;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.button:active {
	background: #0091BD;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.link {
	color: #838383;
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
}

.link:hover {
	color: #01A9DC;
}

.center-link {
	display: block;
	margin: auto;
	max-width: 180px;
	color: #FFF;
	background: #292929;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-boder-radius: 5px 5px 5px 5px;
	border: 1px solid #292929;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
}

.center-link:hover {
	border: 1px solid #01A9DC;
	background: #01A9DC;
}

/*_____________________________________________________________

  Utilitaire
  -------------------------------------------------------------
*/
.u-no-mt {
	margin-top: 0;
}

.u-no-mb {
	margin-bottom: 0;
}

.u-mb {
	margin-top: 1em;
}

.u-fmb {
	margin: 1em;
}

.u-fmtb {
	margin-top: 1em;
	margin-bottom: 1em;
}

.small-mt {
	margin-top: 25px;
}

/*_____________________________________________________________

  Panier + Changer Langue
  -------------------------------------------------------------
*/
#header-line {
	margin-top: -0.5em;
	text-align: right;
}

#change-lang {
	display: inline-block;
	margin-left: 15px;
}

#change-lang input {
	width: 32px;
	height: 32px;
	border: none;
	cursor: pointer;
}

.lang-fr {
	background: url("fr_32x32.png.jsf") no-repeat;
}

.lang-en {
	background: url("uk_32x32.png.jsf") no-repeat;
}

/*_____________________________________________________________

  Logo + Connection + Deconnection
  -------------------------------------------------------------
*/
#logo {
	text-transform: uppercase;
}

#logo h1 {
	font-size: 1.4em;
	color: #292929;
	margin-bottom: 5px;
}

#logo h1 a {
	margin-left: 0.50em;
	text-decoration: none;
	font-size: 1.4em;
	color: #292929;
}

#logo span {
	color: #01A9DC;
}

#logo p {
	margin: 0;
	padding: 0 0 0 5em;
	letter-spacing: 0.10em;
	font-size: 0.90em;
	color: #828282;
	margin-bottom: 10px;
}

#login input[type="text"], #login input[type="password"] {
	width: 160px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-boder-radius: 5px 5px 5px 5px;
	border: 1px solid #999999;
	padding: 3px;
}

#login input[type="text"]:focus, #login input[type="password"]:focus {
	border: solid 1px #01A9DC;
	box-shadow: 0 0 5px 1px #969696;
}

#login .button.logout {
	margin-left: 15px;
}

#login>form .logout {
	margin-top: 35px;
}

#login label.logout {
	margin-top: 15px;
}

#login p input.button {
	margin-right: 5px;
}

#login p input.link {
	margin-right: 0px;
}

/*_____________________________________________________________

  Box notification
  -------------------------------------------------------------
*/
#notify {
	border-radius: 5px;
	margin-top: 10px;
	font-weight: bold;
	list-style: none;
	text-align: center;
	text-decoration: underline;
}

#notify li {
	margin: 5px;
}

#notify.errors-box {
	border: 1px solid #f46767;
	background-color: #ffcccc;
}

#notify.infos-box {
	border: 1px solid #67f49d;
	background-color: #ccfffb;
}

/*_____________________________________________________________

  Footer
  -------------------------------------------------------------
*/
#copyright {
	padding: 6em 0em;
	font-size: 0.70em;
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #FFF;
	color: #6A6A6A;
}

#copyright a {
	color: #747474;
}

/*_____________________________________________________________

  Input Obligatoire + Info Box
  -------------------------------------------------------------
*/
.required {
	color: #838383;
	margin: 0 -0.2em;
}

.required-box {
	color: #838383;
	margin-left: 15px;
}

.info-box {
	margin: 20px;
	color: #838383;
}

/*_____________________________________________________________

  Règles Spécifiques
  -------------------------------------------------------------
*/
#quick-offer-register {
	margin-top: 25px;
}

.button.monnai-select {
	background-color: green;
}

.button.monnai-select:hover {
	background-color: green;
}

#page_trouve .tableid {
	border-bottom: none;
	margin-bottom: 2em;
}

#page_trouve  td {
	text-align: center;
}

#page_trouve td .button {
	width: 100px;
}