html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #E9E9E9 url(images/bg01.png) repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	font-weight: 400;
	color: #969696;
}

.h1, .h2, .h3 {
	margin: 0;
	padding: 0;
	font-weight: 900;
	display: block;
	margin-top: 10px;
}

.em {
	font-style: italic;
}

.block {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dataTables_wrapper {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

/*********************************************************************************/
/* HEADER                                                                        */
/*********************************************************************************/

/******************************************/
/** Logo **/
#logo {
	text-transform: uppercase;
}

#logo h1 {
	font-size: 1.8em;
	color: #292929;
	margin-bottom: 5px;
}

#logo h1 a {
	margin-left: 0.50em;
	text-decoration: none;
	font-size: 1.5em;
	color: #292929;
}

#logo span {
	color: #01A9DC;
}

#logo p {
	margin: 0;
	padding: 0 0 0 5em;
	letter-spacing: 0.10em;
	font-size: 0.90em;
	color: #828282;
	margin-bottom: 10px;
}

/******************************************/
/** Login **/
#login input {
	margin: 4px;
}

#login {
	margin: auto;
	width: 300px;
	margin-bottom: 10px;
}

#login label, #login input[type="text"], #login input[type="password"] {
	display: block;
	margin: 4px;
}

#login input[type="text"], #login input[type="password"] {
	width: 190px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-boder-radius: 5px 5px 5px 5px;
	border: 1px solid #999999;
	padding: 3px;
}

#login input[type="text"]:focus, #login input[type="password"]:focus {
	border: solid 1px #01A9DC;
	box-shadow: 0 0 5px 1px #969696;
}

/******************************************/
/** Change Lang **/
#change-lang {
	text-align: right;
}

.lang-fr {
	width: 32px;
	height: 32px;
	border: none;
	background: url("fr_32x32.png.jsf") no-repeat;
	cursor: pointer;
}

.lang-en {
	width: 32px;
	height: 32px;
	border: none;
	background: url("uk_32x32.png.jsf") no-repeat;
	cursor: pointer;
}

/*********************************************************************************/
/* NOTIFY                                                                        */
/*********************************************************************************/
#notify.errors-box {
	border: 1px solid #f46767;
	background-color: #ffcccc;
	border-radius: 5px;
	margin-top: 10px;
	font-weight: bold;
}

#notify.errors-box li {
	list-style: none;
	margin: 5px;
	text-align: center;
	text-decoration: underline;
}

#notify.infos-box {
	border: 1px solid #67f49d;
	background-color: #ccfffb;
	border-radius: 5px;
	margin-top: 10px;
	font-weight: bold;
}

#notify.infos-box li {
	list-style: none;
	margin: 5px;
	text-align: center;
	text-decoration: underline;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/
#wrapper {
	min-width: 400px;
	margin: 0;
	width: 100%;
	background: #FFF;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

#page {
	color: #191919;
	margin: 5px;
	min-height: 600px;
}

#page .title {
	display: block;
	text-align: center;
	font-size: 2em;
	margin: 20px;
	margin-top: 30px;
	letter-spacing: 0.10em;
	text-transform: uppercase;
}

#copyright {
	padding: 6em 0em;
	font-size: 0.70em;
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #FFF;
	color: #6A6A6A;
}

#copyright a {
	color: #747474;
}

.button {
	display: inline-block;
	background: #00A4D9;
	border-radius: 5px;
	line-height: 2em;
	padding: 0 1em;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	text-decoration: none;
	font-weight: 700;
	font-size: 13px;
	color: #fff !important;
	cursor: pointer;
	letter-spacing: 1px;
}

.button:hover {
	/** background: #18ACD9; **/
	background: #27beec;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.button:active {
	background: #0091BD;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.link {
	margin: 20px;
	color: #838383;
	border: none;
	background: none;
	text-decoration: underline;
	cursor: pointer;
}

.link:hover {
	color: #01A9DC;
}

p label {
	display: block;
	float: left;
}

p label.big-label {
	width: 165px;
}

p label.small-label {
	width: 100px;
}

p input[type="text"], p input[type="password"],
p select  {
	width: 180px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-boder-radius: 5px 5px 5px 5px;
	border: 1px solid #999999;
	padding: 3px;
}

p input[type="text"]:focus, p input[type="password"]:focus,
p select:focus {
	border: solid 1px #01A9DC;
	box-shadow: 0 0 5px 1px #969696;
}

p select {
	width: 188px;
}

.info-box {
	margin: 5px;
	float: right;
	color: #838383;
}

.required {
	color: #838383;
	margin: 0 -0.2em;
}


.required-box {
	color: #838383;
}