<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<error-page>
            <error-code>404</error-code>
            <location>/error/error404.jsf</location>
    </error-page>
    <error-page>
  			<error-code>500</error-code>
            <location>/error/error.jsf</location>
	</error-page>
    <error-page>
  			<error-code>503</error-code>
            <location>/error/error.jsf</location>
	</error-page>
</web-app>   